<div class="min-h-screen text-center px-4 py-6 md:px-8 flex flex-col flex-wrap justify-center items-center">

  <div class="mb-3 font-bold py-2">
    <span class="text-black text-4xl">EXCEL</span>
    <span class="">
      <mat-icon class="scale-[2.25] mx-4 text-green-600 relative bottom-0">arrow_forward</mat-icon>
    </span>
    <span class="text-black text-4xl">HTML</span>
  </div>
  <div class="text-black text-xl mb-14">
    An awesesome tool to convert excel tables into html views.
  </div>

  <div class="grid grid-cols-12 py-2 md:py-6 gap-y-20">
    <div class="col-span-12 md:col-span-4 px-4">
      <span class="p-7 shadow-md mb-3 inline-block">
        <mat-icon class="inline scale-[2.5] relative top-1 text-green-600">dashboard_customize</mat-icon>
      </span>
      <div class="font-medium text-xl">Fully Customizable</div>
      <span class="text-lg px-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</span>
    </div>
    <div class="col-span-12 md:col-span-4 px-4">
      <span class="p-7 shadow-md mb-3 inline-block">
        <mat-icon class="inline scale-[2.5] relative top-1 text-green-600">accessibility_new</mat-icon>
      </span>
      <div class="font-medium text-xl">Easy to Use</div>
      <span class="text-lg px-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</span>
    </div>
    <div class="col-span-12 md:col-span-4 px-4">
      <span class="p-7 shadow-md mb-3 inline-block">
        <mat-icon class="inline scale-[2.5] relative top-1 text-green-600">open_in_new</mat-icon>
      </span>
      <div class="font-medium text-xl">Open Source</div>
      <span class="text-lg px-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</span>
    </div>
    <div class="col-span-12">
      <button mat-mini-fab
        onclick="let el = document.getElementById('get_started'); el.scrollIntoView({behavior:'smooth'})">
      <mat-icon class="scale-[1.75]">arrow_drop_down</mat-icon>
    </button>
    </div>
  </div>
</div>