<div class="p-8 flex flex-col flex-wrap h-full justify-between">

    <div class="flex flex-col flex-wrap gap-y-8">
        <h1 class="font-bold text-lg">BASE COLUMNS</h1>
        <div class="flex flex-col flex-wrap gap-y-2">
            <div>Choose the columns you want to have in the final view</div>
            <ng-select [items]="this.dataObj?.columns!" [multiple]="true" [clearable]="true" [virtualScroll]="true" (remove)="removeCol($event.index)" (clear)="removeCol(-1)"
                appearance="outline" appendTo="body" class="relative" dropdownPosition="auto" [closeOnSelect]="false"
                [(ngModel)]="this.config!.columns" [readonly]="this.config.view === 'PIVOT'">
                <ng-template ng-header-tmp>
                    <div class="py-2">
                        <button (click)="selectAll()" mat-stroked-button class="!mr-2">SELECT ALL</button>
                        <button (click)="unselectAll()" mat-stroked-button>UNSELECT ALL</button>
                    </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item}}
                </ng-template>
            </ng-select>
        </div>
        <mat-divider class="w-full" *ngIf="this.config.view !== 'PIVOT'"></mat-divider>

        <div class="flex flex-col flex-wrap gap-y-2" *ngIf="this.config.view !== 'PIVOT'">
            <h1 class="font-bold text-lg">NEW COLUMNS (MERGED)</h1>
            <div class="flex flex-col md:flex-row justify-between mb-1">
                <div>
                    Do you want to create new columns by merging others?
                    <mat-icon color="primary"
                        [matTooltip]="TOOLTIP_DEFINITION.COLUMNS_MERGING_DESCR">
                        help</mat-icon>
                </div>
                <button mat-raised-button color="primary" (click)="addNewColMerged()" class="py-2">CREATE
                    COLUMN</button>
            </div>

            <div class="max-h-80 overflow-y-auto p-[1px] my-2" *ngIf="this.mergedColumns.length > 0">
                <table mat-table [dataSource]="this.mergedColumns" class="mat-elevation-z4 w-full px-2 text-center">

                    <ng-container matColumnDef="Merged Column Name">
                        <th mat-header-cell *matHeaderCellDef>Merged Column Name</th>
                        <td mat-cell *matCellDef="let merge index as i">
                            <div class="pt-[10px] flex flex-row items-center mt-2">
                                <span class="visible md:hidden basis-1/5 relative bottom-1">Merged Column Name: </span>
                                <mat-form-field appearance="outline">
                                    <input matInput [(ngModel)]="this.mergedColumns[i].nameDefinition">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Merged From">
                        <th mat-header-cell *matHeaderCellDef>Merged from</th>
                        <td mat-cell *matCellDef="let merge; index as i">
                            <div class="pt-[10px] flex flex-row items-center">
                                <span class="visible md:hidden basis-1/5 relative bottom-1">Merged from: </span>
                                <ng-select [items]="this.dataObj?.columns!" [multiple]="true" [clearable]="true"
                                    [selectableGroup]="true" [virtualScroll]="true" appearance="outline" appendTo="body"
                                    class="relative w-full" dropdownPosition="auto" [closeOnSelect]="false"
                                    [(ngModel)]="this.mergedColumns[i].mergedFrom">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
                                        {{item}}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Info">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let merge index as i">
                            <div class="hidden md:block">
                                <button mat-mini-fab (click)="removeMerged(i)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </div>
                            <div class="flex md:hidden flex-row justify-center">
                                <button mat-raised-button color="accent" (click)="removeMerged(i)" class="w-full">
                                    DELETE
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['Merged Column Name','Merged From', 'Info']; sticky : true">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['Merged Column Name','Merged From', 'Info'];"></tr>
                </table>
            </div>

            <div class="flex flex-col md:flex-row justify-between" *ngIf="this.mergedColumns.length > 0">
                <div>
                    Sync your newly columns with 'normal ones'
                    <mat-icon color="primary" [matTooltip]="TOOLTIP_DEFINITION.COLUMNS_MERGING_SYNC">help</mat-icon>
                </div>
                <button mat-raised-button color="warn" (click)="mergedToNormals()">SYNC COLUMNS</button>
            </div>

        </div>
    </div>

    <div class="flex flex-row justify-end mt-4">
        <button mat-raised-button color=accent [disabled]="!this.dataObj?.data" (click)="indexTo.emit(3)">NEXT</button>
    </div>

</div>