<div class="p-8 flex flex-col flex-wrap justify-between h-full">
  <div>
    <h1 class="font-bold text-lg">UPLOAD EXCEL</h1>
    Upload your excel file, It should look like&nbsp;<a href="/assets/images/example.png" target="_blank"
      class="italic text-green-600 underline font-bold" #href>this</a>&nbsp;
    <mat-icon color="primary"
      matTooltip="Please make sure your excel file does not contain any spare rows or columns. Otherwise results might be unpredictable.">
      help</mat-icon>
  </div>
  <div class="py-4 w-full">
    <img src="/assets/images/example.png" class="w-full max-w-screen-md cursor-pointer" (click)="href.click()">
  </div>
  <div class="flex flex-row justify-between">
    <button mat-raised-button (click)="uploader.click()" color="primary">
      <input hidden type="file" #uploader appReadexcel #readexcel="readexcel" (eventEmitter)="onUpload($event)" />
      UPLOAD
    </button>
    <button mat-raised-button color=accent [disabled]="!this.dataObj?.data" (click)="indexTo.emit(1)">NEXT</button>
  </div>
</div>