<div class="p-8 flex flex-col flex-wrap justify-between h-full">
  <div>
    <h1 class="font-bold text-lg">UPLOAD EXCEL</h1>
    Upload your excel file, It should look like&nbsp;<a href="/assets/images/example.png" target="_blank"
      class="italic text-green-600 underline font-bold" #href>this</a>&nbsp;
    <mat-icon color="primary"
      [matTooltip]="TOOLTIP_DEFINITION.UPLOAD_DESCR">
      help</mat-icon>
  </div>
  <div class="py-4 w-full">
    <img src="/assets/images/example.png" class="w-full max-w-screen-md cursor-pointer" (click)="href.click()">
  </div>
  <div class="flex flex-row justify-between">
    <div class="flex flex-row gap-x-2">
      <button mat-raised-button (click)="uploader.click()" color="primary">
        <input hidden [multiple]="false" type="file" #uploader appReadexcel #readexcel="readexcel" (eventEmitter)="onUpload($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
        UPLOAD
      </button>
      <button mat-raised-button (click)="uploaderConfig.click()" color="primary" [disabled]="!this.dataObj?.data">
        <input hidden type="file" #uploaderConfig (change)="onConfigSelect($event)" [multiple]="false" accept="application/json"/>
        LOAD CONFIG
      </button>
    </div>
    <button mat-raised-button color=accent [disabled]="!this.dataObj?.data" (click)="indexTo.emit(1)">NEXT</button>
  </div>
</div>